<div class="row">
	<div class="span8">

		<h2 style="padding: 15px 0 15px 0;">
			Hi, My Name is Grant.
		</h2>

		<blockquote style="width: 90%;">
			<p>
				I'm a .NET Web Developer who loves working with the latest and greatest technologies.
			</p>
		</blockquote>

		<div class="row">
			<div class="span4">
				<h4>Turn Ons</h4>
				<ul>
					<li>ASP.NET MVC</li>
					<li>Domain Driven Design</li>
					<li>Test Driven Developement</li>
					<li>Javascript</li>
					<li>AngularJS</li>
				</ul>
			</div>
			<div class="span4">
				<h4>Turn Offs</h4>
				<ul>
					<li>SharePoint</li>
					<li>Technical Debt</li>
				</ul>
			</div>
		</div>

		<h3>
			Here's a litte bit of info about me:
		</h3>



		<div class="q-and-a">
			<div class="question">
				What is your favorite trend that's going on in web development?
			</div>
			<div class="answer">
				In simplest terms, I'm a huge fan of GitHub.
			</div>
		</div>

		<div class="q-and-a">
			<div class="question">
				If you could only program with one language the rest of your life, what would it be?
			</div>
			<div class="answer">
				That's a hard one. If you had asked me a year ago I would have said C#. Though, since Javascript is moving towards being both a swiss army knife and a enterprise language, that seems like a safer bet.
			</div>
		</div>

		<div class="q-and-a">
			<div class="question">
				If you had $5,000 to spend of technology, what would you spend it on?
			</div>
			<div class="answer">
				In simplest terms, I'm a huge fan of GitHub.
			</div>
		</div>

	</div>
	<div id="link-list" class="span4">
		<div class="row">
			<h4>
				Contact
			</h4>
		</div>
		<div class="row">
			<a class="btn" href="http://www.github.com/holymoo">
				<i class="icon-github"></i>
				GitHub
			</a>
		</div>
		<div class="row">
			<a class="btn" href="#">	
				<i class="icon-linkedin"></i>
				LinkedIn
			</a>
		</div>
		<div class="row">
			<a href="http://stackoverflow.com/users/580683/grantbyrne">
<img style="width: 100%;" src="http://stackoverflow.com/users/flair/580683.png?theme=clean" width="208" height="58" alt="profile for GrantByrne at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for GrantByrne at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
</a>
		</div>
	</div>
</div>