
<h2 style="padding: 15px 0 15px 0;">
	Projects
</h2>

<hr/>

<div class="project">
	<div class="project-name">
		Grant Byrne.com Redesign
		<span class="project-date">
			October 2013
		</span>
	</div>
	<div class="project-description">
		I shuffled around some projects to implement a NodeJS based development paradigm to show off how awesome I am.
	</div>
</div>

<div class="project">
	<div class="project-name">
		Disposition - the homemade ambilight
		<span class="project-date">
			October 2013
		</span>
	</div>
	<div class="project-description">
		C#/Arduino interface for the IKEA Dioder to create mood lighting for the back of your monitor!
	</div>
</div>

<div class="project">
	<div class="project-name">
		Dungeon Resource - Dungeons and Dragons references right at your fingertips.
		<span class="project-date">
			July 2013
		</span>
	</div>
	<div class="project-description">
		Dungeon Resource is a personal experiment with utilizing the latest and greatest technologies while providing useful tools to those happen to play Dungeons and Dragons v3.5
	</div>
</div>
