<h2 style="padding: 15px 0 15px 0;">
	Resume
</h2>

<h3>
	Employment History
</h3>
<hr />
<div class="employment">
	<div class="employment-title">
		Junior Software Engineer - NextDocs Corporation
		<span class="employment-date">
			January 2013 - November 2013
		</span>
	</div>
	<div>
		<ul>
			<li>
				Worked with SCRUM Team to Migrate NextDocs System from a Nintex Based Workflow System to a NextDocs Distributed WCF Architecture
			</li>
			<li>
				Implemented Scalable and Modular CSS pattern (SMACSS) to quickly migrate legacy UI branding to modern NextDocs standard with a Responsive Grid Layout for SharePoint 2010
			</li>
			<li>
				Managed the Automated .MSI Packaging with Flexera Installshield 2010
			</li>
			<li>
				With Help from Senior Developers, Founded a new Decoupled Architecture reduce dependency on SharePoint 2010 and add Support for JQuery/AngularJS and Asp.Net WebApi
			</li>
		</ul>
	</div>
</div>

<div class="employment">
	<div class="employment-title">
		Support Engineer Intern - NextDocs Corporation
		<span class="employment-date">
			May 2012 – September 2012
		</span>
	</div>
	<div>
		<ul>
			<li>
				Developed a Server Farm Health Reporting App
			</li>
			<li>
				Utilized a Centralized Database to Store Recurring System Health and Analytics
			</li>
			<li>
				Developed a plugin interface to allow new developers to quickly add and validate new farm tests
			</li>
			<li>
				Created an Easy to Use Portal to Present and Troubleshoot Problems Across the Server Farm with Twitter Bootstrap, JQuery, and ASP.NET Web Forms
			</li>
		</ul>
	</div>
</div>

<div class="employment">
	<div class="employment-title">
		Computer Science Tutor - Kutztown University
		<span class="employment-date">
			May 2012 – September 2012
		</span>
	</div>
	<div>
		<ul>
			<li>
				Met Up With Students on a Weekly/Biweekly Basis for Supplemental Instruction
			</li>
			<li>
				Offered Support to Students in Object Oriented Programming Methodologies and Pointer Based Syntax in C++
			</li>
			<li>
				Helped Students Prepare for/Review for Tests as well as Debug Project to Help Them Succeed in Their Classes
			</li>
		</ul>
	</div>
</div>

<h3>
	Projects
</h3>
<hr />

<div class="project">
	<div class="project-name">
		Dungeon Resource - Dungeons and Dragons references right at your fingertips.
		<span class="project-date">
			July 2013
		</span>
	</div>
	<div class="project-description">
		Dungeons and Dragons Spell Repository with a User Friendly Front End. ASP.NET MVC4 Web Application with a NoSQL (RavenDB) Database. Follows the SOLID Principle Combined with DDD Architecture to Offer Excellent Unit Testability and Decoupling.
		<ul>
			<li>
				Example at: <a href="http://dungeonresource.azurewebsites.net">http://dungeonresource.azurewebsites.net</a>
			</li>
			<li>
				Source Code: <a href="https://github.com/holymoo/DungeonResource">https://github.com/holymoo/DungeonResource</a>
			</li>
		</ul>
	</div>
</div>

<div class="project">
	<div class="project-name">
		Kutztown University iVote
		<span class="project-date">
			Spring 2012
		</span>
	</div>
	<div class="project-description">
		Project Lead for Six Other Students to Develop a ASP.NET Web Forms Voting System for the APSCUF Union at Kutztown University. In Addition to Serving as Project Lead, I also handled the Management the SVN Repository, MySql Database Hosting, IIS6 Web Hosting, and UML based documentation.
	</div>
</div>

<h3>
	Languages and Technologies
</h3>
<hr />

<div class="employment">
	<ul>
		<li>
			C#, ASP.NET Web forms, ASP.NET MVC4, Web API
		</li>
		<li>
			HTML5, CSS3, Javascript, JQuery, KnockoutJs, JsRender, AngularJs
		</li>
		<li>
			T-SQL, ADO.NET Stored Procedures, NHibernate, RavenDB, MongoDB
		</li>
		<li>
			Visual Studio 2010/2012, TFS 2010, GitHub, Microsoft SQL Server 2008
		</li>
	</ul>
</div>

<h3>
	Education
</h3>
<hr />

<div class="employment">
	<div class="employment-title">
		Kutztown University
		<span class="employment-date">
			Fall 2009 – December 2012
		</span>
	</div>
	<div>
		<ul>
			<li>
				Bachelors of Science in Computer Science
			</li>
			<li>
				Relevant Coursework – Software Engineering, Data Structures I, Data Structures II, Computational Organization and Assembly Language
			</li>
		</ul>
	</div>
</div>

<h3>
	Events
</h3>
<hr />

<div class="employment">
	<ul>
		<li>
			Penn Apps 2013 Spring Mentor 
		</li>
		<li>
			Regular Microsoft Philly.NET Attendee
		</li>
	</ul>
</div>
